* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    background: #C04848;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', sans-serif !important;
  }
  ul{
    width: -webkit-fill-available;
}
section{
    background-color: #faebd754;
}
button{
    margin: 3%;
}
textarea{
    height: 12rem;
}
.encode, .decode{
    width: -webkit-fill-available;
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  nav {
    height: 10vh;
    background: #5b78c700;
    position: fixed !important;
    font-family: 'Lexend Deca', sans-serif !important;
  }
  section{
         width: -webkit-fill-available;
      height: 100vh;
      padding:6%;
  }
  .nav_links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav_links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  .nav_links:hover{
    opacity:1;
}
  
  @media screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
        margin-top: 22%;
    }
h4{
    font-size: 1.8rem;
    line-height: 88%;
}
h5{
    font-size: 1rem;
    font-style: oblique;
}

  }
  